<footer class="footer-flex">
    <ul>
        <li><a class="social" target="_blank" href="https://github.com/ryoungz"><i class="fa fa-github-alt fa-2x"></i></a></li>
        <li><a class="social" target="_blank" href="http://codepen.io/ryoungz/"><i class="fa fa-codepen fa-2x"></i></a></li>
        <li><a class="social" target="_blank" href="https://twitter.com/robertcyoung"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a class="social" target="_blank" href="mailto:ryoungz@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
    </ul>
    <p class="footer-info">&#169;Robert Young <script type="text/javascript">document.write(new Date().getFullYear());</script> | All Rights Reserved</p>
</footer>
